@font-face {
    font-family: LPMQ;
    src: url(../fonts/LPMQ.eot);
    src: url(../fonts/LPMQ.eot?#iefix) format("embedded-opentype"), url(../fonts/LPMQ.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: LPMQ-ISYARAT;
    src: url(../fonts/LPMQ-ISYARAT.eot);
    src: url(../fonts/LPMQ-ISYARAT.eot?#iefix) format("embedded-opentype"), url(../fonts/LPMQ-ISYARAT.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
}

.baris-ayat{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.baris{
    border-bottom: 0.5px solid #bebebe;    
}

.surah-arabic {
    border-radius: 8px;
    padding: 15px 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    flex: 1;
    margin: 0;
    direction: rtl;
}

.arab-text {
    font-family: LPMQ, "Traditional Arabic", Tahoma, sans-serif;
}

.arab {    
    font-size: 30px;
    line-height: 2.5em;
    font-family: LPMQ, "Traditional Arabic", Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: right;
}
/*ic-frame-number.svg*/
.surah-number {
    margin: 14px 16px 0 0;
    width: 41px;
    height: 48px;
    background-image: url(../images/icons/frame_ayat.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.latin {
    color: brown;
    display:none;
    font-size: 20px;
}

.terjemah{
    display:none;
    font-size: 20px;
}

.mr-2{
    margin-right: 20px;
}

.navbar{
    box-shadow: 0 4px 8px #0000000d;
}

#app{
    min-height: 50vh;
    padding-bottom: 60px;
}

.auto-scroll{
    position:fixed;left:0px;top:50%;
}

/*.scroll-title{
    position: absolute;
    top: -10px;
    font-size: 0.45em;
    font-weight: 500;
    left: 3px;
    text-transform: uppercase;
    cursor: pointer;
}*/
.scroll-title {
    position: absolute;
    top: 8px;
    font-size: .75em;
    font-weight: 500;
    left: -1px;
    height: 100px;
    text-transform: uppercase;
    cursor: pointer;
    writing-mode: vertical-rl;
}

#speednav{
    background: rgb(66, 66, 66); padding: 10px; float: left; width: 47px; height: 110px;
}
.speedbar {
    list-style-type: none;
    border: 1px solid #424242;
    height: 12px;
    margin-left: -38px;
}

#speed1{
    background: rgb(221, 221, 221); width: 38px; cursor: pointer;
}

#speed2{
    background: rgb(204, 204, 204); width: 38px; cursor: pointer;
}

#speed3{
    background: rgb(187, 187, 187); width: 38px; cursor: pointer;
}

#speed4{
    background: rgb(170, 170, 170); width: 38px; cursor: pointer;
}

#speed5{
    background: rgb(153, 153, 153); width: 38px; cursor: pointer;
}

.input-group {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.dropdown-menu{
    padding: 10px;
    font-size: 12px;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: 0;
    background-color: #006730;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}
  
  #toTop:hover {
    background-color: #bcc900;
  }

  .plyr--audio {
    position:  fixed !important;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px -4px 8px 5px #0000000d;
	display: none;
}


.plyr--audio .plyr__controls {
    padding: 9px 85px !important;
}

.btn-audio {
    width: 2.5%;
    margin-left: 18px;
    margin-bottom: 5px;
    padding: 0.1rem 0.03rem;
}

.btn-copy{
    width: 2.5%;
    margin-left: 8px;
    margin-bottom: 5px;
    padding: 0.1rem 0.03rem;
}

#infoCopy{
    margin: auto;
    position: fixed;
    top: 100px;
    z-index: 1020;
    inset-area: center;
    display: none;
}

.footnote{
    color:red;font-size: 0.7em;
}