.content{
    min-height: 50vh;
    width: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;  
      margin: auto;
      display: flex;
      padding: 30px;
  }
  
  .content img{
      width: 30%;
  }
  
  .sliders{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    cursor: pointer;
    background: rgba(255,255,255,0.1);
    font-size: 20px;
  }
  
  .left{
      left: 30%;
  }
  .right{
      right: 30%;
  }
  
  @media only screen and (max-width: 600px) {
      .content img{
          width: 100%;
      }
      .left{
          left: 0%;
      }
      .right{
          right: 0%;
      }
  }
  
  @media screen and (max-width: 900px) and (min-width: 600px) {
      .content img{
          width: 80%;
      }
      .left{
          left: 0%;
      }
      .right{
          right: 0%;
      }
  }